*{
  margin: 0;
  padding: 0;
  list-style: none;
}
html{
  background: #f4f5f9;
}
.Nav-bar{
  display: flex;
  gap: 40px;
  padding: 1.5rem;
  font-size: 1.2rem;
  box-shadow: 5px 3px   rgb(228, 228, 228);
  background: white;
  position: sticky;
  top: 0;
}
.Nav-bar ul{
  display: flex;
  gap: 20px;
}
.Nav-bar ul li{
  border: 1px solid #aad0d4;
  padding: 4px 10px;
  border-radius: 15px;
  cursor: pointer;
}
.Nav-bar ul li:hover{
  background: #e0f7fa;
}
main{
  height: 80vh;
}
.flex{
  display: flex;
}
.card-section{
  border: 1px solid #cfd3dc;
  padding: 0.5rem;
 height: 35rem;
 background: #cfd3dc;
 border-radius: 10px;
 overflow-y: scroll;
  margin:2rem 1rem;
}
.card-section::-webkit-scrollbar{
  display: none;
}
.card{
  display: flex;
  margin-bottom: 1rem;
  gap: 20px;
  background: #e0f7fa;
  border-radius: 10px;
  border: 1px solid #cfd3dc;
  color: #0e0d0d;
  cursor: pointer;
}
.bg-dark{
  background: white;
}
.card svg{
  width: 50px;
  color: black;
  margin: 0.3rem 0.2rem 5rem 0.2rem;
}
.card ul li{
  margin: 0.5rem 0;
}
.card ul li span{
  font-weight: 600;
}
.DetailCard{
  margin:2rem 1rem 0rem 0;
  padding: 2rem;
  width: 60vw;
  height:30rem;
  overflow-y: scroll;
  border: 1px solid #cfd3dc; 
  border-radius: 10px;
  background: #cfd3dc;
}
.DetailCard::-webkit-scrollbar{
  display: none;
}
.DetailCard .profile-nav{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.DetailCard .profile-nav .profile-des-nav{
  display: flex;
  gap: 30px;
}
.DetailCard .profile-nav .profile-des-nav ul li{
  margin-bottom: 0.3rem;
}
.profile-des-nav svg{
  width: 3rem;
}
.DetailCard button{
  height: 30px;
  background: #e54065;
  color: white;
  border: none;
  padding: 0 5px;
  border-radius: 5px;
}
.Mail-body div p{
     margin-bottom: 1rem;
}
/* #footer{
  position: fixed;
  bottom: 0;
  padding: 10px;
} */
